.annotationContainer{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  // margin-top: 20px;
  transition: 0.15s;
  border-radius: 10px;
}
.annotationContainer:hover{
  background-color: rgba(0, 0, 0, 0.2);

}
.AnnotationLeftSubContainer{
  display: flex;
  align-items: center;
  min-width: 50px;
  justify-content: center;
  color: gray;
}
.AnnotationLeftSubContainer:hover{
  color:red;
  cursor:pointer;
}
.AnnotationRightSubContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  user-select: none;
  padding:10px 0 10px;
}
  
.AnnotationChapter{
  color: var(--text-secondary);
  font-size: 12px;
}
  
  
.noteTextContainer{
  white-space: pre-line;
  border-left: 3px solid rgb(0 0 0 / 10%);
  padding-left: 5px;
}