.slider{
  color:black;
}


.slider > div[class=rc-slider-rail]{
  background-color:#B9B9B9 !important;
  height: 6px;
}

.slider > div[class=rc-slider-track]{
  background-color:dodgerblue !important;
  // background-color: var(--slider-track-color) !important;
  height: 6px;
}

.slider > div[class=rc-slider-handle]{
  border-color: gray;
  z-index: 1;
  height: 22px;
  width: 22px;
  margin-top: calc( (22 / 2 * 1px) - (14px + 5px));
  opacity: 1;
}

.slider > div[class="rc-slider-handle rc-slider-handle-dragging"]{
  border-color: gray;
  z-index: 1;
}

// Note: This disables the default bubbles which are used to click. This is replaced by | character
.slider > div[class=rc-slider-step]{
  display:none;
}

// Container for | characters
.slider > div[class=rc-slider-mark]{
  top:0;
}
  
