@use 'breakpoints.scss' as *;

.sideBarContainer{
  height: 100%;
  grid-area: 2/1/4/1;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  display: grid;
}
  
.sideBarContainer > div{
  grid-area: 1/1;
  height: 100%;
  transition: 0.5s;
  @include lt-sm{
    transition: 0s !important;
  }
}
.sideBarContainer > div:last-of-type{
  pointer-events: auto;
}
  
.sideBar{
  background-color:white;
  width: 50%;
  max-width: 800px;
  min-width: 400px;
  // position: fixed;
  // left: min(-50%, -400px);
  overflow: hidden;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
}
.sideBarActive{
  min-width: 400px;
  // left: 0%;
  transform: translateX(0);
  @include lt-sm{
    width: 100%;
    max-width: 100%;
  }
}
  
.tabSelector{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.tabSelector > div{
  // border-bottom: 2px solid rgb(31, 120, 255);
  border-bottom: 2px solid rgba(0, 0, 0, 0.171);
  flex-grow: 1;
  text-align: center;
  padding-top:5px;
  padding-bottom: 5px;
}
.selectedBookmarkTab{
  border-bottom: 2px solid rgb(31, 120, 255) !important;
  color: rgb(31, 120, 255);
}
.tabSelector > div:hover{
  // border-bottom: 2px solid rgb(31, 120, 255);
  background-color:rgba(0, 0, 0, 0.1);
  cursor:pointer;
  user-select: none;
}

