@use 'breakpoints.scss' as *;

.sideBarContainer{
  height: 100%;
  grid-area: 1/1/4/1;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  display: grid;
}
  

.sideBar{
  pointer-events: all;
  background-color:var(--background-secondary);
  color: var(--text-primary);
  width: 50%;
  max-width: 500px;
  min-width: 400px;
  // position: fixed;
  // left: min(-50%, -400px);
  overflow: hidden;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  justify-self: flex-end;

  grid-area: 1/1;
  height: 100%;
  transition: 0.5s;
  @include lt-sm{
    transition: 0s !important;
  }
}
.sideBarActive{
  min-width: 400px;
  // left: 0%;
  transform: translateX(0);
  @include lt-sm{
    width: 100%;
    max-width: 100%;
  }
}
  
.sideBarNav{
  display:flex;
  justify-content:space-between;
  // background-color: var(--background-primary);
  border-bottom: 1px solid black;
  padding: 10px;
}

.navBack{
  // background-color: var(--background-secondary);
  cursor:pointer;
  // height:30px;
  width:auto;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left:20px;
  > div{
    margin-left:5px;
    font-size:18px;
  }
}

.footnoteBody{
  // display:flex;
  // background-color:var(--background-tertiary);
  user-select:text;
  cursor:auto;
  padding:20px;
  * {
    // This will fix issues with the reference href itself not being selectable
    user-select: text;
  }
}

.gotoFoot{
  font-size:18px;
  margin-right:20px;
  cursor:pointer;
}