.titleBarButtonsContainer{
  // width: auto;
  height: 100%;
  display:inline-flex;
  align-items: center;
  padding-right: 13px;
  padding-left: 30px;
  pointer-events:none;
  > svg{
    pointer-events: auto;
  }
}

.disabled{
  > svg{
    pointer-events:none;
  }
  
}
.titleBarButton{
  height: 100%;
  width: calc(15px + 20px);
  opacity: 0.8;
  color: white;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  padding-left:10px;
  padding-right:10px;
}

.titleBarButton:hover{
  opacity: 1;
}

.titleBarExit:hover{
  color:red;
}