.readerFlex{
  //   background-color:red;
  display:flex;
  flex-direction: column;
  height: 100%;
}

.readerTitleBar{
  width: 100%;
  // height: 25px;
  //Temp for bug testing
  height: 50px;
  //   background-color:green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: black;
  padding-top:10px;
  user-select: none;
}
.readerTitleBar div{
  transition: 0.3s;
}
.menuButtonContainer{
  color: black;
  display:flex;
  gap:10px;
  margin-left:20px;
  margin-right:20px;
  transition: 0.3s;
}
.optionsToggled > .menuButtonContainer{
  opacity: 0;
  pointer-events: none;
}
.optionsToggled > div{
  color:rgba(0, 0, 0, 0.342);
}

.menuButtonContainer > svg{
  stroke-width: 2.5;
  height: 28px;
  width: 28px;
  transform: scale(calc(28 / 24));
  transform-origin: 0 0 ;
  gap:5px;
  cursor: pointer;
  color:rgb(121, 121, 121);
  // margin-left:20px;
  // margin-right: 20px;
}
.menuButtonContainer > svg:hover{
  color:black;
}



.readerFooterBar{
  height: 50px;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}