@use 'breakpoints.scss' as *;

.readerFlex{
  //   background-color:red;
  // display:flex;
  grid-template-rows: auto 1fr auto;
  display: grid;
  flex-direction: column;
  height: 100%;
}

// The reader component
.readerFlex > div:nth-child(2) {
  grid-row: 2;
  grid-column: 1;
}


.sideBarContainer{
  height: 100%;
  grid-area: 2/1/4/1;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  display: grid;
}

.sideBarContainer > div{
  grid-area: 1/1;
  height: 100%;
  transition: 0.5s;
  @include lt-sm{
    transition: 0s !important;
  }
}
.sideBarContainer > div:last-of-type{
  pointer-events: auto;
}
.opaqueScreen{
  width: 100%;
}
.opaqueScreenActive{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: auto;
}
.sideBar{
  background-color:white;
  width: 50%;
  max-width: 800px;
  min-width: 400px;
  // position: fixed;
  // left: min(-50%, -400px);
  overflow: hidden;
  transform: translateX(-100%);
}
.sideBarActive{
  min-width: 400px;
  // left: 0%;
  transform: translateX(0);
  @include lt-sm{
    width: 100%;
    max-width: 100%;
  }
}

.readerTitleBar{
  width: 100%;
  // height: 25px;
  //Temp for bug testing
  height: 50px;
  //   background-color:green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: black;
  padding-top:10px;
  user-select: none;
  grid-area: 1/1;
}
.readerTitleBar div{
  transition: 0.3s;
}
.menuButtonContainer{
  color: black;
  display:flex;
  gap:10px;
  margin-left:20px;
  margin-right:20px;
  transition: 0.3s;
}
.optionsToggled > .menuButtonContainer{
  opacity: 0;
  pointer-events: none;
}
.optionsToggled > div{
  color:rgba(0, 0, 0, 0.342);
}

.menuButtonContainer > svg{
  stroke-width: 2.5;
  height: 28px;
  width: 28px;
  transform: scale(calc(28 / 24));
  transform-origin: 0 0 ;
  gap:5px;
  cursor: pointer;
  color:rgb(121, 121, 121);
  // margin-left:20px;
  // margin-right: 20px;
}
.menuButtonContainer > svg:hover{
  color:black;
}



.readerFooterBar{
  height: 50px;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  grid-area: 3/1;
}

.tabSelector{
  // pointer-events: auto;
  // color:red;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.tabSelector > div{
  // border-bottom: 2px solid rgb(31, 120, 255);
  border-bottom: 2px solid rgba(0, 0, 0, 0.171);
  flex-grow: 1;
  text-align: center;
  padding-top:5px;
  padding-bottom: 5px;
}
.selectedBookmarkTab{
  border-bottom: 2px solid rgb(31, 120, 255) !important;
  color: rgb(31, 120, 255);
}
.tabSelector > div:hover{
  // border-bottom: 2px solid rgb(31, 120, 255);
  background-color:rgba(0, 0, 0, 0.1);
  cursor:pointer;
  user-select: none;
}



.rootChapterFlexContainer{
  display:flex;
  justify-content: space-between;
}

$ChapterArrow: 24px;
.tocExpander{
  display: inline;
  // order: 2;

  height: calc($ChapterArrow * 1.5);
  width: calc($ChapterArrow * 1.5);
  padding-right:40px;
  flex-basis: 56px;
}

.tocExpander > svg{
  transform-origin: 0 0;
  transform: scale(1.5);
  color: gray;
}


.tocChapterTitle{
  margin-left:20px;
  margin-right:20px;
  flex-basis: calc(100% - 56px);
  display:flex;
  align-items: center;
  font-weight: bold;
}

.TocMapContainer{
  margin-top:10px;
  margin-bottom:10px;
}