@use 'breakpoints.scss' as *;



.settingsIconBottomBar{
  color:var(--text-secondary);
  margin-right:auto;
  margin-left:15px;
  transition: 0.15s;
cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
  &:active{
    opacity: 0.5;
  }
}


.opaqueScreenActive{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: auto;
}
.touchBar{
  background-color: #9E9E9E;
  height: 8px;
  width: 32px;
  margin: 10px 0px 20px 0px;
  border-radius: 50px;
}

.currentMenuContainer{
  display:flex;
  gap: 25px;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0px 10px 0px;
  width: 100%;
}
.currentMenuContainer > div{
  cursor: pointer;
  flex-grow: 0.1;
  text-align: center;
}
  
.settingsContainer{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  overflow-y: auto;
  width: calc(100% - 20px);
  // transition: 10s;

  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  overflow-x:hidden;
}


.tabSection{
  color: var(--text-primary);
  transition: 0.15s;
  &:hover{
    opacity: 0.8 !important;
  }
  &:active{
    opacity: 0.5 !important;
  }
}