.settingsBarContainer{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  background-color:white;
  z-index: 1;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
  align-self: end;
  transition: .3s;
  //   transform: translateY(100%);
}
.opaqueScreenActive{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: auto;
}
.touchBar{
  background-color: #9E9E9E;
  height: 8px;
  width: 32px;
  margin: 10px 0px 20px 0px;
  border-radius: 50px;
}

.currentMenuContainer{
  display:flex;
  gap: 25px;
  font-weight: bold;
  font-size: 18px;
}
.currentMenuContainer > div{
  cursor: pointer;
  width: 75px;
  text-align: center;
}
  
.settingsContainer{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  overflow-y: auto;
}

.overflowContainer{
  grid-area: 2/1/4/1;
  overflow-y: hidden;
  display:flex;
}