@use 'breakpoints.scss' as *;

.overflowContainer{
  grid-area: 2/1/4/1;
  overflow-y: hidden;
  display:flex;
  justify-content: center;
  pointer-events: none;
}

.settingsBarContainer{
  pointer-events: all;
  background-color: var(--background-primary);
  color: var(--text-primary);
  height: 275px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  // background-color:white;
  z-index: 1;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
  align-self: flex-end;
  transition: .3s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 650px;
  position: relative;
  @include lt-md{
    width: 75%;
  }
  @include lt-sm{
    width: 100%;
  }
  
  //   transform: translateY(100%);
}