.bookContainer{
  background-color:#505230;
  color:white;
  //   height: 150px;
  //   width: 100px;

  aspect-ratio: 170/250;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  overflow: hidden;

  align-self: flex-end;
  grid-row: 1/3;
  grid-column: 1;

  width: var(--book-width);
  height: var(--book-height);
}
.title{
  padding:5px 0 5px 5px;
  background-color:#404226;
  width: 100%;
  text-align:left;
  font-weight:500;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  font-size: 20px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
.author{
  font-weight: 300;
  text-align:right;
  padding-right: 5px;
  margin-top: 5px;
  font-size: 16px;
}

.content{
  width: 100%;
}