.themeContainer{
  width: 100%;
  height: 100%;
  //   background-color: blue;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.listContainer{
  width: calc(100% - 50px);
  max-width: 500px;
  height: 100%;
  margin-bottom:15px;

  background-color: var(--background-primary);
  border-radius: 8px;
  padding-right:5px;
}

.comboContainer{
  margin-top:15px;
  margin-bottom: 15px;
}
  
.comboContainerText{
  font-size:14px;
}

.comboTextBox{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.2);
  background-color: var(--background-primary);
  color: var(--text-primary);
  // margin-right: calc(50px + (8px * 2));
}

.sliderContainer{
  width:400px;
  margin-bottom:25px;
}


.fontRow{
  width: 400px;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom:10px;
  :first-child{
    justify-self: flex-end;
    align-self: flex-end;
    // margin-left:50px;
  }
  :last-child{
    // margin-right:50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 10, 255, 0.25));
    scale:0.9;
    cursor:pointer;
  }
}

.navigatorContainer{
  margin:10px 0px 10px 0px;
  display:flex;
  width: 200px;
  // background-color:red;
  justify-content: space-around;
  div{
    color:rgb(128, 128, 128);
    // border:1px solid black;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    cursor:pointer;
  }
}


.trash{
  color:red;
  margin-left:20px;
  cursor:pointer;
}

.selector{
  padding-left:50px;
  height:20px;
  width:20px;
  margin-left:20px;
  margin-right:10px;
  cursor:pointer;
}

.localThemeContainer{
  display:flex;
  height:60px;
  // border: 1px solid black;
  align-items: center;
  justify-content: space-between;
}

.label{
  font-size:18px;
  cursor:pointer;
}


.fontDownloaderButton{
  background-color: var(--background-primary);
  border: 1px solid var(--text-secondary);
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 10px;
  cursor:pointer;
  user-select: none;
}

.pageTitle{
  font-size:24px;
  margin-top:10px;
  font-weight: 500;
}


.fontPreviewText{
  font-size:14px;
  text-align: left;
  width:410px;
  color: var(--text-secondary);
  margin-top:15px;
}

.localButtonsContainer{
  display:flex;
  align-items: center;
  flex-basis: 33%;
}

.remoteButtonsContainer{
  flex-basis: 33%;
  align-items: center;

  filter: drop-shadow(0px 4px 4px rgba(0, 10, 255, 0.25));
  scale:0.9;
  cursor:pointer;
  display:flex;
  justify-content: flex-end;
}

.fontNameBox{
  flex-basis: 33%;
  text-align: center;
}


.slider{
  color:black;
}


.slider > div[class=rc-slider-rail]{
  background-color:var(--text-secondary) !important;
  height: 6px;
}

.slider > div[class=rc-slider-track]{
  background-color:var(--text-secondary) !important;
  // background-color: var(--slider-track-color) !important;
  height: 6px;
}

.slider > div[class=rc-slider-handle]{
  // border-color: var(--text-secondary);
  border: 1px solid var(--text-secondary);
  background-color:var(--background-primary);
  z-index: 1;
  height: 18px;
  width: 18px;
  margin-top: calc( -6px);
  opacity: 1;
}

.slider > div[class="rc-slider-handle rc-slider-handle-dragging"]{
  box-shadow: none !important;
  border:none;
  border-color: gray;
  z-index: 1;
}
.slider span[class=rc-slider-mark-text]{
  color: var(--text-primary) !important;
  opacity: 1;
}
.slider span[class="rc-slider-mark-text rc-slider-mark-text-active"]{
  color: var(--text-primary) !important;
}

// Note: This disables the default bubbles which are used to click. This is replaced by | character
.slider > div[class=rc-slider-step]{
  display:none;
}

// Container for | characters
.slider > div[class=rc-slider-mark]{
  top:24px;
}
