@use 'breakpoints.scss' as *;


.titleBar{
  height: 50px;
  width: 100%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  gap:25px;
  border-bottom: 1px solid #E6E6E6;
  background-color: var(--background-primary);
  color: var(--text-primary)
  //   margin-bottom:25px;
}


.backButtonContainer{
  margin-left:25px;
  cursor:pointer;
  width: 50px;
  height:50px;
  display:flex;
  align-items: center;
  justify-content: center;
  
}


.titleText{
  font-size:25px;
  pointer-events: none;
}



.responsiveSettingsGrid{
  display:grid;

  grid-template-columns: 1fr 4fr;
  width: 100%;
  /* This is important because otherwise the grid and subitems will not know how to overflow properly */
  height: calc(100vh - 50px);
}


.settingsPageContainer{
  height: 100%;
  display:flex;
  flex-direction: column;
  overflow: hidden;
}


// This class name is only appended when subPageActive is true in the react component
// Then these conditions will only apply if the screen size is small
.navbarActive{
  @include lt-sm{
    > .navbar{
      display:none;
    }
    // Content will span the entire page
    > .contentContainer{
      @include lt-sm{
        grid-column: 1/3;
      }
    }

  }
}

.titleBarButtonsContainer{
  margin-left:auto;
  height:100%;
  pointer-events: none;
  @include lt-sm{
    display:none;
  }
}


.hidesm{
  @include lt-sm{
    display:none;
  }
}

.hidegtsm{
  @include gt-xs{
    display:none;
  }
}


.navbar{
  min-width: 150px;
  font-size: 18px;
  text-align: center;
  grid-row: 1/1;
  z-index: 3;
  @include lt-sm{
    grid-column: 1/3;
  }
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--background-primary);
  color: var(--text-primary);
}

.navbar > div:first-of-type{
  margin-top: 20px;
}

.navbar > div{
  margin: 30px 0 15px 0;
  cursor:pointer;
}


.contentContainer{
  grid-row: 1/1;
  grid-column: 2/3;
  overflow:auto;
}