

.themeContainer{
  width: 100%;
  min-height: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.comboBox{
  width: 200px;
  border-radius: 5px;
  border-color:rgba(0, 0, 0, 0.2);
  display:inline;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

.comboTextBox{
  width: 200px;
  border-radius: 5px;
  border-color:rgba(0, 0, 0, 0.2);
  margin-right: calc(50px + (8px * 2));
  background-color: var(--background-primary) !important;
  color: var(--text-primary) !important;
}

.comboContainer{
  margin-top:15px;
}

.comboContainerText{
  font-size:14px;
}

.newCombo{
  display: inline-block;
  margin-left: 15px;
  background-color: #04cb00;
  padding: 8px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  cursor:pointer;
  width:55px;
  text-align: center;
}


.themePropertyContainer{
  margin-top:50px;
  display:flex;
  flex-direction: row;
  gap:25px;
  width: clamp(0px, 100%, 1000px);
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  padding-bottom:25px;
}

.themeTargetContainer{
  display:flex;
  flex-direction: column;
  gap:8px;
}

.themePropertyRow{
  margin-left:25px;
  display:flex;
  align-items: center;
}

.themePropertyName{
  margin-right: 50px;
  width:200px;

}

.themeColor{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color:black;
  margin-right:15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.themeColor:hover:enabled{
  cursor:pointer;
}

.resetButton{
  transform: scale(0.9);
  cursor:pointer;
}

.deleteButton{
  display:flex;
  align-items: center;
  color:red;
  background-color: #FFEBEB;
  width:250px;
  height:50px;
  justify-content: center;
  font-size: 28px;
  border-radius: 10px;
  border:1px solid red;
  margin-top: auto;
  margin-bottom: 25px;
  cursor:pointer;
  user-select: none;
}

.themeTarget{
  font-weight: bold;
}