.container{
  display: flex;
  flex-direction: column;
  background-color:white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  position:fixed;
}

.actionContainer{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow:1;
}

.actionContainer > div{
  cursor: pointer;
  display:flex;
  width: 45px;
  // flex-grow:1;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.divider{
  width: 100%;
  margin: 4px 0px 4px 0px;
}
.highlightContainer{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow:1;
}
.highlightBubble{
  height: 24px;
  width: 24px;
  border-radius: 100%;
  // border: 1px solid black;
  cursor:pointer;
}

.noteContainer{
  width: 300px;
  height: 250px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  // border: 1px solid black;
  left: 25px;
  top: 25px;
  border-radius: 12px;
  position:fixed;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.noteContentContainer{
  // flex-grow: 1;
  height: 200px;
  // margin-top:15px;
  // border: 1px solid black;
  border: none;
  resize: none;
  margin: 15px 15px 15px 15px;
}
.noteContentContainer:focus {
  outline: none !important;
}

.colorSelector{
  display:flex;
  flex-direction: row;
  gap: 10px;
  // margin-left: 20px;
}

.annotationActions{
  display:flex;
  justify-content: space-around;
  padding-bottom:15px;
  padding-top: 10px;
}

.svgSelect{
  cursor: pointer;
  display:flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-basis: 15%;
}
.svgSelect:last-of-type > svg{
  color: green;
  stroke-width: 4px;
}
.svgSelect:first-of-type > svg{
  color: red;
}