.optionsContainer{
  display:flex;
  flex-direction: row;
  gap:10px;
  justify-content: space-evenly;
  width:100%;
}

.optionContainer{
  height:90px;
  width:200px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  cursor:pointer;
  color:var(--text-primary);
}
.optionContainer > svg{
  display:block;
}