html,
body {
  height: 100vh;
  overflow:hidden;

  /* CrashFix:
    All of this code is to prevent a windows specific crash around minimize.

    If the user has a book open in scroll mode, and minimizes, epubjs will make some call
    which doesn't behave well with no window decorations on chromium. To fix this, we will
    set a min-height and min-width since it seems that windows minimize sets width & height to 0,
    which in turn breaks rendering, and causes a chromium crash.

    Tauri Console: [0811/150638.464:ERROR:check.cc(307)] Check failed: false. NOTREACHED log messages are omitted in official builds. Sorry!
    Tauri Window: Error Code: STATUS_BREAKPOINT
    */
  min-height: 300px;
  min-width: 300px;
  /* Crashfix End */
}

.appContainer{
  color:red;
  font-family: 'noto sans', 'open sans', sans-serif;
  border-radius: var(--rounded-corners);
  border: 1px solid black;
  overflow:hidden;
  
}

//https://stackoverflow.com/a/56560979
select::-ms-expand {
  display: none;
}
select {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 0.5em;
  border: 1px solid #eee;
  font: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;
}

div {
  user-select: none;
}

/* https://gist.github.com/spemer/a0e218bbb45433bd611e68446523a00b
/* total width */
.appContainer ::-webkit-scrollbar {
  background-color: var(--background-secondary);
  width: 16px;
}

/* background of the scrollbar except button or resizer */
.appContainer ::-webkit-scrollbar-track {
  background-color: 4px solid var(--background-secondary);
}

/* scrollbar itself */
.appContainer ::-webkit-scrollbar-thumb {
  background-color: var(--background-primary);
  border-radius: 16px;
  border: 4px solid var(--background-secondary);
}

/* set button(top and bottom of the scrollbar) */
.appContainer ::-webkit-scrollbar-button {
  display:none;
}











@font-face {
  font-family: "Noto Sans";
  src: url("../public/resources/Fonts/Noto_Sans/NotoSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../public/resources/Fonts/Noto_Sans/NotoSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../public/resources/Fonts/Noto_Sans/NotoSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../public/resources/Fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../public/resources/Fonts/Noto_Sans/NotoSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../public/resources/Fonts/Noto_Sans/NotoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../public/resources/Fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../public/resources/Fonts/Noto_Sans/NotoSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../public/resources/Fonts/Noto_Sans/NotoSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}